/* Hide the special tags from the actual tag list in the topic view */

table.topic-list .link-bottom-line {
    a.discourse-tag[data-tag-name="currently-not-on-roadmap"],
    a.discourse-tag[data-tag-name="under-consideration"],
    a.discourse-tag[data-tag-name="on-roadmap"],
    a.discourse-tag[data-tag-name="released"] {
      display: none;
    }    
}

/* On the roadmap status line, don't show the regular tags, only the special ones. 
   - remove the border
   - add colors
   - some of them get a special text, some of them are only capitalized 
*/

table.topic-list .roadmap-status-line,
.navigation-topics .topics-container .topic-list tbody .topic-list-item .main-link .link-top-line {
    a.discourse-tag {
        display: none;
    }
}

.topic-header-extra, 
table.topic-list .roadmap-status-line,
.navigation-topics .topics-container .topic-list tbody .topic-list-item .main-link .link-top-line {
    a.discourse-tag[data-tag-name="currently-not-on-roadmap"],
    a.discourse-tag[data-tag-name="under-consideration"],
    a.discourse-tag[data-tag-name="on-roadmap"],
    a.discourse-tag[data-tag-name="released"] {
      display: block;
      padding-left: 0px !important;
      padding-top: 3px !important;
      font-size: 14px !important;
      font-weight: 500;
      margin-top: 3px;
    } 
    a.discourse-tag[data-tag-name="currently-not-on-roadmap"] {
        color: #fb275d !important;
        visibility: hidden;
        pointer-events: none;
    }
    a.discourse-tag[data-tag-name="currently-not-on-roadmap"]::before {
        content: 'Currently not on roadmap';
        visibility: visible;
    }
    
    a.discourse-tag[data-tag-name="under-consideration"] {
        color: #caa100 !important;
        visibility: hidden;
        pointer-events: none;
    }
    a.discourse-tag[data-tag-name="under-consideration"]::before {
        content: 'Under consideration';
        visibility: visible;
    }
    
    a.discourse-tag[data-tag-name="on-roadmap"] {
        color: #00854d !important;
        visibility: hidden;
        pointer-events: none;
    }
    a.discourse-tag[data-tag-name="on-roadmap"]::before {
        content: 'On roadmap';
        visibility: visible;
    }
    
    a.discourse-tag[data-tag-name="released"] {
        color: #00cc6c !important;
        visibility: hidden;
        pointer-events: none;
        width: 80px; /* otherwise the text is somehow floating a bit from the side on the home page */
    }
    a.discourse-tag[data-tag-name="released"]::before {
        content: 'Released';
        visibility: visible;
    }
}

/* If the roadmap status line does not contain one of our beloved tags, hide it. It takes up space otherwise. */
.roadmap-status-line:not(:has(a[data-tag-name="released"], a[data-tag-name="currently-not-on-roadmap"], a[data-tag-name="on-roadmap"], a[data-tag-name="under-consideration"])) {
    display: none;
}

/* Hide the special tags from the category filter dropdown */

.navigation-container ul.select-kit-collection:first-of-type,
.category-navigation ul.select-kit-collection:first-of-type {
    li.tag-row[data-name="currently-not-on-roadmap"],
    li.tag-row[data-name="under-consideration"],
    li.tag-row[data-name="on-roadmap"],
    li.tag-row[data-name="released"],
    {
        display: none;
    }
}

/* The standard Monday theme sets a padding top which pushes the lock for a closed topic down, and
   that shifts our tag to the right. Reset it. */
body .topics-container .topic-list tbody .topic-list-item .main-link .link-top-line .topic-statuses {
    padding-top: 0px !important;
}
